<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/CollectWiseFavi.avif" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Primary Meta Tags -->
		<title>CollectWise</title>
		<meta name="title" content="CollectWise" />
		<meta name="description" content="Boost recovery rates and cut costs with CollectWise's autonomous AI agents and integrated legal network" />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content="CollectWise" />
		<meta property="og:description" content="Boost recovery rates and cut costs with CollectWise's autonomous AI agents and integrated legal network" />
		<meta property="og:image" content="../assets/collectwisemetaimg.png" />

		<!-- X -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content="CollectWise" />
		<meta property="twitter:description" content="Boost recovery rates and cut costs with CollectWise's autonomous AI agents and integrated legal network" />
		<meta property="twitter:image" content="../asset/collectwisemetaimg.png" />
		
		<!-- Additional Meta Tags -->
		<meta name="robots" content="index, follow">
		<meta name="theme-color" content="#17217a" />
		<meta name="author" content="CollectWise" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
